@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-main-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
}

.button-colour {
  background-color: #EEBA25;
  color: white
}

.button-colour:hover {
  background-color: #d99c1e;
}