@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-main-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}